<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>DCCA利用規約</p>
  </div>
  <%= image_tag "test_logo.webp", class:"second-fotter-logo"%>
</footer>